.footer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.744);
    padding: 10px;
    font-family: "Playfair Display", serif;
    justify-content: space-between;
    border-top: 2px solid gray;
    font-family: "Moderustic", sans-serif;
    margin-top: 50px;
}

.footer_wrapper{
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
}


.footer_left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_left h2{
    width: 70%;
    font-size: 30px;
}

.footer_left p{
    font-size: 16px;
    padding-right: 180px;
}

.footer_middle{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer_middle a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.744);
    cursor: pointer;
    font-size: 20px;
}

.footer_right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer_right img{
    width: 40px;
    border-radius: 12px;
}

.footer_icons{
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.footer_right{
    font-size: 20px;
}